<div class="input-group" {{did-insert this.initiateFieldValue}}>

	{{#if @isTextarea}}
	
	  <Textarea @value={{this.fieldValue}} name="{{@type.slug}}-{{@module.input_slug}}-{{@id}}[]" class="form-control" placeholder={{@module.input_placeholder}} autocomplete="off" />
	
	{{else}}

	  <Input @value={{this.fieldValue}} @type={{@module.input_type}} name="{{@type.slug}}-{{@module.input_slug}}-{{@id}}[]" class="form-control {{if (eq @module.input_type "hidden") "d-none"}}" placeholder={{@module.input_placeholder}} min={{@module.input_min}} max={{@module.input_max}} autocomplete="off" />

	{{/if}}
  
  <span class="input-group-text" {{on 'click' (fn @addToMultiField @module.input_slug @index)}}><i class="fa-solid fa-circle-plus"></i></span>

  	{{#if (not-eq @index 0)}}
		<span class="input-group-text text-danger" {{on 'click' (fn @removeFromMultiField @module.input_slug @index)}}><i class="fa-solid fa-circle-xmark"></i></span>
	{{/if}}

	{{#if (eq @index 0)}}
		<div class="d-none" {{did-insert (fn @addToMultiField @module.input_slug @index)}}></div>
	{{/if}}

</div>

