<div class="row mt-3 row-cols-1 g-3 mx-0">
  <div class="card px-0 mx-0 border-0">
    <div
      class="card-body p-0"
      {{on "click" (fn this.triggerSelectFile "csv-file-uploader")}}
    >
      <div class="d-none">
        <input
          class="form-control"
          type="file"
          id="csv-file-uploader"
          accept=".csv"
          {{on "change" this.handleFileSelect}}
        />
      </div>

      {{#if this.isProcessing}}
        <div
          class="text-center text-{{this.colormodes.inverseMode}}
            w-100 fs-4 p-5"
          style="border: 2px dashed #eee;"
        >
          <i class="fa-solid fa-cog fa-spin"></i>&nbsp;Processing CSV file ({{this.processingProgress}}%
          done)
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-valuenow="{{this.processingProgress}}"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            style="width: {{this.processingProgress}}%"
          ></div>
        </div>
      {{else if this.type.csvData}}
        <div
          class="text-center text-{{this.colormodes.inverseMode}}
            w-100 fs-4 p-3"
          style="border: 2px solid #eee;"
        >
          <div>
            <i class="fa-solid fa-check-circle text-success"></i>&nbsp;CSV
            Processed Successfully
          </div>
          <div class="fs-6 mt-2">
            <strong>{{this.rowCount}}</strong>
            rows found with
            <strong>{{this.headers.length}}</strong>
            columns
          </div>
          {{#if this.processingErrors.length}}
            <div class="alert alert-warning mt-2 fs-6">
              <strong>{{this.processingErrors.length}} issues found</strong>
              <ul class="text-start small">
                {{#each this.processingErrors as |error|}}
                  <li>{{error.message}}</li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        </div>
      {{else}}
        <div
          class="text-center text-muted w-100 fs-4 p-5"
          style="border: 2px dashed #eee;"
          ondragover="event.preventDefault();"
          ondrop="event.preventDefault(); this.dispatchEvent(new CustomEvent('file-drop', {detail: event.dataTransfer.files}));"
          {{on "file-drop" (fn this.handleFileDrop)}}
        >
          <i class="fa-solid fa-file-csv"></i>&nbsp;&nbsp;{{if
            @placeholder
            @placeholder
            "Drag and drop CSV file here or click to select"
          }}
        </div>
      {{/if}}

      {{#if this.type.csvData}}
        <div class="mt-3">
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm me-2"
            {{on "click" (fn (mut this.type.csvData) null)}}
          >
            <i class="fa-solid fa-undo"></i>
            Clear and Upload Different File
          </button>
        </div>
      {{/if}}
    </div>
  </div>
</div>