<div class="row mt-3 row-cols-1 g-3 mx-0">
	<div class="card px-0 mx-0 border-0">

	  <div class="card-body p-0" {{on 'click' (fn this.triggerSelectFile "main-files-uploader")}}>

		{{#let (file-queue name="main-files-uploader" onFileAdded=this.uploadFile) as |queue|}}
			<div class="d-none">
				<input class="form-control" type="file" id="main-files-uploader" {{queue.selectFile}}>
			</div>
			<FileDropzone @queue={{queue}} as |dropzone|>
			    {{#if dropzone.active}}
			      <div class="text-center text-{{this.colormodes.inverseMode}} w-100 fs-4 p-5" style="border: 2px dashed #000;"><i class="fa-solid fa-wand-magic-sparkles fa-spin"></i>&nbsp;&nbsp;Drop to upload</div>
			    {{else if queue.files.length}}
			      <div class="text-center text-{{this.colormodes.inverseMode}} w-100 fs-4 p-5" style="border: 2px dashed #eee;"><i class="fa-solid fa-clock"></i>&nbsp;Uploading {{queue.files.length}} file(s) ({{queue.progress}}% done).</div>
			      	<div class="progress" role="progressbar" aria-valuenow="{{queue.progress}}" aria-valuemin="0" aria-valuemax="100">
					  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{queue.progress}}%"></div>
					</div>
			    {{else if dropzone.supported}}
			      <div class="text-center text-muted w-100 fs-4 p-5" style="border: 2px dashed #eee;"><i class="fa-solid fa-cloud-arrow-up"></i>&nbsp;&nbsp;{{if @placeholder @placeholder "Drag and drop files here to upload them"}}</div>
			    {{/if}}
		  	</FileDropzone>
		{{/let}}

	  </div>

	</div>
</div>