{{#if @navtitle}}
	<li class="fs-smaller nav-item">
      <LinkTo {{on 'click' @collapseMenu}} class="nav-link text-white px-3" @route="{{@navroute}}">
      	<FaIcon @icon="{{@icon}}" @prefix="fa-light" />
      	<span class="ps-1">{{@navtitle}}</span>
      </LinkTo>
    </li>
{{else}}
	<li class="nav-item">
		{{yield}}
	</li>
{{/if}}