{{#if @navtitle}}
	<li class="nav-item d-flex align-items-stretch">
      <LinkTo {{on 'click' @collapseMenu}} class="nav-link text-white px-3 px-lg-4 d-flex align-items-center justify-content-start" @route="{{@navroute}}">
      	<span class="ps-1">{{@navtitle}}</span>
      </LinkTo>
    </li>
{{else if @navroute}}
	<li class="nav-item d-flex align-items-stretch">
      <LinkTo {{on 'click' @collapseMenu}} class="nav-link text-white px-3 px-lg-4 d-flex align-items-center justify-content-start" @route="{{@navroute}}">
      	{{yield}}
      </LinkTo>
    </li>
{{else}}
	<li class="nav-item">
		{{yield}}
	</li>
{{/if}}