<nav
  class="fs-4 fs-light border-bottom border-5 border-primary navbar navbar-expand bg-{{this.colormodes.mode}}
    sticky-top py-0"
  {{did-insert this.colormodes.initMode}}
>
  {{#if @public}}

    <div class="p-3 container-fluid">
      <button
        id="main-menu-toggler"
        class="shadow-none navbar-toggler p-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bars-staggered fs-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto text-end d-flex align-items-stretch">
          {{#if (eq this.colormodes.mode "light")}}
            <div class="py-1"><Logo::Icon
                @width="100"
                @color="var(--bs-black)"
              /></div>
          {{else}}
            <div class="py-1"><Logo::Icon
                @width="100"
                @color="var(--bs-white)"
              /></div>
          {{/if}}
        </ul>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <div
          class="fs-4 px-2 px-md-3 cursor-pointer"
          {{on "click" this.colormodes.changeMode}}
        >
          {{#if (eq this.colormodes.mode "dark")}}
            <i class="fa-solid fa-sun"></i>
          {{else}}
            <i class="fa-solid fa-moon"></i>
          {{/if}}
        </div>
      </div>
    </div>

  {{else}}
    <div class="container-fluid px-0">
      <button
        id="main-menu-toggler"
        {{on "click" this.toggleBarsIcon}}
        class="shadow-none navbar-toggler p-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bars-staggered fs-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto text-end d-flex align-items-stretch">
          <HeaderNavItem @collapseMenu={{this.collapseMenu}} @navroute="index">
            {{#if (eq this.colormodes.mode "light")}}
              <div class="py-1"><Logo::Icon
                  @width="100"
                  @color="var(--bs-black)"
                /></div>
            {{else}}
              <div class="py-1"><Logo::Icon
                  @width="100"
                  @color="var(--bs-white)"
                /></div>
            {{/if}}
          </HeaderNavItem>
        </ul>
      </div>
      <div class="d-flex align-items-center justify-content-end px-md-2">

        <div
          class="fs-4 px-2 px-md-3 cursor-pointer"
          {{on "click" this.colormodes.changeMode}}
        >
          {{#if (eq this.colormodes.mode "dark")}}
            <i class="fa-solid fa-sun"></i>
          {{else}}
            <i class="fa-solid fa-moon"></i>
          {{/if}}
        </div>

        <HeaderNavItem>
          <div class="fs-4 px-2 px-md-3 cursor-pointer btn-group">
            <div
              id="blueprints-dropdown-btn"
              class="dropdown-toggle"
              data-bs-toggle="dropdown"
            >
              <i class="fa-solid fa-circle-nodes"></i>
            </div>
            <ul
              class="dropdown-menu dropdown-menu-end overflow-y-scroll"
              style="max-height:400px"
              {{did-insert this.blueprints.getBlueprints}}
            >
              <li><h6
                  class="dropdown-header text-capitalize"
                >Blueprint</h6></li>
              <li><a
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  data-bs-target="#blueprintConsultationModal"
                  href="#"
                >Implementation summary</a></li>
              <li><a
                  {{on "click" this.blueprints.downloadCurrentBlueprint}}
                  class="dropdown-item"
                  href="#"
                >Download current blueprint</a></li>
              <li><a
                  {{on "click" this.blueprints.clearBlueprint}}
                  class="dropdown-item"
                  href="#"
                >Reset current blueprint</a></li>
              <li><a
                  class="dropdown-item"
                  {{on
                    "click"
                    (fn
                      this.changeType
                      (get this.types.json.modules "blueprint_record")
                    )
                  }}
                >View all blueprints</a></li>

              {{#if this.blueprints.myBlueprints}}
                <li><hr class="dropdown-divider" /></li>

                <li><h6 class="dropdown-header text-capitalize">Recently used</h6></li>
                {{#each this.blueprints.myBlueprints as |blueprint|}}
                  <li><a
                      {{on
                        "click"
                        (fn this.blueprints.changeBlueprint blueprint)
                      }}
                      class="dropdown-item"
                      href="#"
                    >{{blueprint.modules.title}}</a></li>
                {{/each}}
              {{/if}}

            </ul>
          </div>
        </HeaderNavItem>

        <HeaderNavItem>
          <div class="fs-3 cursor-pointer btn-group">
            <div class="dropdown-toggle px-2 px-md-3" data-bs-toggle="dropdown">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a
                  class="dropdown-item"
                  {{on
                    "click"
                    (fn
                      this.changeType
                      (get this.types.json.modules "file_record")
                    )
                  }}
                ><i class="fa-solid fa-cloud"></i> File Uploads</a></li>
              <li><LinkTo class="dropdown-item" @route="files"><i
                    class="fa-solid fa-magnifying-glass"
                  ></i>
                  Search Uploads</LinkTo></li>
              <li><a
                  class="dropdown-item"
                  {{on
                    "click"
                    (fn
                      this.changeType
                      (get this.types.json.modules "deleted_record")
                    )
                  }}
                ><i class="fa-solid fa-recycle"></i> Deleted Records</a></li>
              <li><a
                  class="dropdown-item"
                  {{on
                    "click"
                    (fn
                      this.changeType
                      (get this.types.json.modules "apikey_record")
                    )
                  }}
                ><i class="fa-solid fa-plug"></i> Junction API</a></li>
              <li><a
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  data-bs-target="#typesWebapp"
                ><i class="fa-solid fa-gear"></i> Settings</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a
                  target="new"
                  class="dropdown-item"
                  href="https://junction.express/junctions"
                ><i class="fa-solid fa-table-cells-large"></i>
                  My Junctions</a></li>
              <li><a
                  target="new"
                  class="dropdown-item"
                  href="https://junction.express/?showHome=true"
                ><i class="fa-solid fa-arrow-up-right-from-square"></i>
                  Visit homepage</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a
                  {{on "click" this.auth.logout}}
                  class="dropdown-item"
                  href="#"
                ><i class="fa-solid fa-arrow-right-from-bracket"></i>
                  Logout</a></li>
            </ul>
          </div>
        </HeaderNavItem>
      </div>
    </div>

  {{/if}}
</nav>

{{yield}}