<div
  class="{{if this.type.loadingSearchResults 'd-flex' 'd-none'}}
    align-items-center justify-content-center vh-100 w-100 position-fixed animate__animated animate__fadeIn animate__faster"
  id="loading"
  style="z-index:11001"
>
  <div class="position-relative" role="status" style="z-index:1">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div
    style="z-index:0;"
    class="position-absolute vh-100 w-100 bg-{{this.colormodes.mode}}
      opacity-75"
  ></div>
</div>

<div
  class="{{if this.blueprints.loadingProgress 'd-flex' 'd-none'}}
    align-items-center justify-content-center vh-100 w-100 position-fixed animate__animated animate__fadeIn animate__faster flex-column text-center"
  style="z-index:11002"
>
  <div class="position-relative w-50" role="status" style="z-index:1">

    <div
      class="progress"
      role="progressbar"
      aria-valuenow="{{this.blueprints.loadingProgress}}"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        style="width: {{this.blueprints.loadingProgress}}%"
      ></div>
    </div>
  </div>

  <div
    class="my-2 mx-auto col-lg-7 col-10 text-uppercase text-secondary subway small"
    style="z-index:1"
  >â³ Generating blueprint. This can take upto 2 minutes.</div>

  <div
    style="z-index:0; opacity:0.96"
    class="position-absolute vh-100 w-100 bg-{{this.colormodes.mode}}"
  ></div>
</div>