<h2 class="text-uppercase text-primary mt-4 pt-2 px-0">Data Tracks</h2>
<div class="card px-0 mt-0 border-top border-1 border-primary">
  <div class="card-body d-flex align-items-center justify-content-start flex-wrap p-4 pb-2">
    {{#if this.types.json.modules.webapp.interface_urls.<%= dasherizedPackageName %>.types}}
      {{#each this.types.json.modules.webapp.interface_urls.<%= dasherizedPackageName %>.types as |type_slug|}}
          <button id="track-{{type_slug}}" {{on 'click' (fn this.changeType (get this.types.json.modules type_slug))}} type="button" class="text-capitalize btn-lg fw-normal btn btn-{{if (eq type_slug this.type.currentType.slug) "primary" (concat "outline-" this.colormodes.inverseMode)}} me-4 mb-4">{{get (get this.types.json.modules type_slug) "plural"}}</button>
      {{/each}}
    {{else}}
      {{#each-in this.types.json.modules as |key type|}}
        {{#if (eq type.slug "deleted_record")}}
          {{#if this.types.json.modules.webapp.soft_delete_records}}
            <button id="track-deleted_record" {{on 'click' (fn this.changeType type)}} type="button" class="text-capitalize btn-lg fw-normal btn btn-{{if (eq type.slug this.type.currentType.slug) "primary" (concat "outline-" this.colormodes.inverseMode)}} me-4 mb-4">{{type.plural}} <span class="badge text-bg-light fw-light rounded-2 small">{{type.total_objects}}</span></button>
          {{/if}}
        {{else}}
          {{#if (and (and type.slug (not-eq type.slug "webapp")) (not-eq type.hidden true))}}
            <button id="track-{{type.slug}}" {{on 'click' (fn this.changeType type)}} type="button" class="text-capitalize btn-lg fw-normal btn btn-{{if (eq type.slug this.type.currentType.slug) "primary" (concat "outline-" this.colormodes.inverseMode)}} me-4 mb-4">{{type.plural}} <span class="badge text-bg-light fw-light rounded-2 small">{{type.total_objects}}</span></button>
          {{/if}}
        {{/if}}
      {{/each-in}}
    {{/if}}
    <button id="track-new" type="button" data-bs-toggle="modal" data-bs-target="#newModel" class="text-capitalize btn-lg fw-normal btn btn-{{this.colormodes.inverseMode}} me-4 mb-4"><i class="fa-solid fa-plus"></i></button>
  </div>
</div>