<div {{on-click-outside this.ignoreReordering}} class="card p-0 mt-5 border-0">
  <h1
    class="display-6 mb-4 fw-normal text-muted
      {{if (lte this.typesCount 5) 'text-center' 'text-center'}}"
  >{{this.types.json.modules.webapp.name}}</h1>

  {{#unless this.reloadTypes}}
    <div
      id="track-names"
      class="card-body d-flex align-items-center justify-content-center flex-wrap p-0 col-lg-10 mx-auto"
    >
      {{#if this.types.json.modules.webapp.interfaces}}{{else}}
      {{/if}}
      {{#each-in this.types.json.modules as |key type|}}
        {{#if
          (and
            (and type.slug (not-eq type.slug "webapp"))
            (not-eq type.hidden true)
          )
        }}
          <div
            class="btn-group
              {{if this.activateReordering 'wobble'}}
              m-2 track-name-btn"
            data-type-slug={{type.slug}}
            role="group"
          ><button
              title="Hold and drag to reorder"
              id="track-{{type.slug}}"
              {{on "click" (fn this.changeType type)}}
              type="button"
              class="text-capitalize fw-normal btn btn-{{if
                  (eq type.slug this.type.currentType.slug)
                  'primary'
                  (concat 'outline-' this.colormodes.inverseMode)
                }}"
            >{{type.plural}}
              <span
                class="badge text-bg-light fw-light rounded-2 small"
              >{{type.total_objects}}</span></button></div>
        {{/if}}
      {{/each-in}}

      {{#if (gt this.typesCount 5)}}
        {{#if this.types.json.modules.webapp.implementation_summary}}
          <div class="ignore-elements btn-group m-2" role="group"><button
              type="button"
              id="blueprintConsultationModal-btn"
              data-bs-toggle="modal"
              data-bs-target="#blueprintConsultationModal"
              class="text-capitalize fw-normal btn btn-outline-{{this.colormodes.inverseMode}}"
            ><i class="fa-solid fa-circle-info"></i></button></div>
        {{/if}}
        <div class="ignore-elements btn-group m-2" role="group"><button
            id="track-new"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#newModel"
            class="text-capitalize fw-normal btn btn-outline-{{this.colormodes.inverseMode}}"
          ><i class="fa-solid fa-plus"></i></button></div>
      {{else}}
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="ignore-elements my-3 mx-auto text-center">
            <button
              type="button"
              class="btn-lg fw-light fs-5 btn btn-outline-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-circle-nodes"></i>
              Use a blueprint
              <i class="fa-solid fa-caret-down"></i>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-md-end overflow-y-scroll"
              style="max-height:360px"
              {{did-insert this.blueprints.getBlueprints}}
            >
              <li><h6 class="dropdown-header text-capitalize">Blueprints
                  available</h6></li>
              {{#each this.blueprints.junctionBlueprints as |blueprint|}}
                <li><a
                    {{on
                      "click"
                      (fn
                        this.blueprints.changeBlueprint
                        blueprint.attributes.modules.link
                      )
                    }}
                    href="#"
                    class="dropdown-item fs-5 fw-light"
                  >{{blueprint.attributes.modules.title}}</a></li>
              {{/each}}

              <li><hr class="dropdown-divider" /></li>
              <li><h6 class="dropdown-header text-capitalize">Start Again</h6></li>
              <li><a
                  {{on "click" this.blueprints.clearBlueprint}}
                  class="dropdown-item"
                  href="#"
                >Clear the canvas</a></li>

              {{#if this.blueprints.myBlueprints}}
                <li><hr class="dropdown-divider" /></li>

                <li><h6 class="dropdown-header text-capitalize">Recently used
                    blueprints</h6></li>
                {{#each this.blueprints.myBlueprints as |blueprint|}}
                  <li><a
                      {{on
                        "click"
                        (fn this.blueprints.changeBlueprint blueprint)
                      }}
                      class="dropdown-item"
                      href="#"
                    >{{blueprint.modules.title}}</a></li>
                {{/each}}
              {{/if}}
            </ul>
            <div class="fs-5 mt-4 fw-light mx-auto col-lg-7">Alternatively, you
              can start by adding a
              <a
                class="text-{{this.colormodes.inverseMode}}"
                href="#newModel"
                data-bs-toggle="modal"
              >new track manually</a>
              or by
              <a
                class="text-{{this.colormodes.inverseMode}}"
                href="#blueprintAIPromptModal"
                data-bs-toggle="modal"
              >generating a blueprint</a>
              to help you get started.</div>
          </div>
        </div>
      {{/if}}

      {{#if (gt this.typesCount 5)}}
        {{#if this.activateReordering}}
          <button
            id="track-new"
            type="button"
            {{on "click" this.ignoreReordering}}
            class="text-capitalize fw-normal border-0 btn me-n5"
          ><i class="fa-solid fa-lock-open"></i></button>
        {{else}}
          <button
            id="track-new"
            type="button"
            {{on "click" this.startWobble}}
            class="text-capitalize fw-normal border-0 btn me-n5"
          ><i class="fa-solid fa-lock"></i></button>
        {{/if}}
      {{/if}}
    </div>
  {{/unless}}

  {{#if this.activateReordering}}
    <div
      class="w-100 bg-{{this.colormodes.inverseMode}}
        p-1 d-flex align-items-center justify-content-between"
    >
      <button
        class="btn btn-outline-{{this.colormodes.mode}}"
        type="button"
        {{on "click" this.ignoreReordering}}
      ><i class="fa-solid fa-circle-xmark"></i> Do not save</button>
      <button
        class="btn btn-primary"
        type="button"
        {{on "click" this.saveReordering}}
      ><i class="fa-solid fa-circle-check"></i> Save reordering</button>
    </div>
  {{/if}}
</div>