<Input @value={{@value}} @type={{@module.input_type}} @min={{@module.input_min}} @max={{@module.input_max}} class="form-control border-dark" placeholder={{@module.input_placeholder}} />
<div class="form-text text-end text-dark">{{@module.input_placeholder}}</div>