{{page-title "Files"}}

<div class="above-footer">

	<Header @webapp={{this.types.json.modules.webapp}} />

	<main class="flex-shrink-0 page a4 d2 mb-5" style="min-height:75vh">
		
		<div class="container mx-auto px-2">
		  <div class="py-3 px-3 mt-4 border border-1 border-dark text-center bg-body-tertiary rounded-0">
		    <h2 class="text-body-emphasis"><FaIcon @icon="files" @prefix="fa-light" class="me-2" /><span>Files Archive</span></h2>
		    <div class="input-group mt-4">
			  <Input @value={{this.query}} @type="text" class="form-control form-control-lg" placeholder="Type query (use re::phrase for complex search)" {{on-key "Enter" this.search}} />
			  <button {{on 'click' this.search}} type="button" class="btn btn-light btn-lg"><FaIcon @icon="magnifying-glass" @prefix="fa-light" class="me-1" /> Search</button>
			</div>
			<div class="text-start mb-3 mt-2">
				<a href="https://github.com/tribe-framework/rephrase" target="new" class="ms-3 fst-italic text-decoration-underline text-muted">Learn more about re::phrase</a>
			</div>
		  </div>
		</div>

		<div class="container mx-auto px-2">
		{{#if this.loading}}
			<div class="mx-auto my-5">
				<div class="spinner-grow text-dark" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		{{else if this.results}}
			
			<table class="table mt-5">
				<thead>
					<tr>
					  <th scope="col">{{this.getLength this.results.by_file_name}} results with matching file name</th>
					  <th scope="col">URL</th>
					</tr>
				</thead>
				<tbody>
					{{#each-in this.results.by_file_name as |name link|}}
					<tr>
					  <td>{{name}}</td>
					  <td><a href="{{link}}" target="new" class="bt btn-sm btn-outline-primary">View <FaIcon @icon="arrow-up-right-from-square" @prefix="fa-light" /></a></td>
					</tr>
					{{/each-in}}
				</tbody>
			</table>

			<table class="table mt-5">
				<thead>
					<tr>
					  <th scope="col">{{this.getLength this.results.by_file_content}} results with matching file content</th>
					  <th scope="col">URL</th>
					</tr>
				</thead>
				<tbody>
					{{#each-in this.results.by_file_content as |name link|}}
					<tr>
					  <td>{{name}}</td>
					  <td><a href="{{link}}" target="new" class="bt btn-sm btn-outline-primary">View <FaIcon @icon="arrow-up-right-from-square" @prefix="fa-light" /></a></td>
					</tr>
					{{/each-in}}
				</tbody>
			</table>
		{{/if}}
		</div>

	</main>

	<Footer @webapp={{this.types.json.modules.webapp}} />

</div>

{{outlet}}