{{page-title "Files"}}

<Header @webapp={{this.types.json.modules.webapp}} />

<div class="above-footer px-2">

	<main class="flex-shrink-0 page a4 d2 mb-5" style="min-height:75vh">
		
		<div class="container mx-auto px-2">
		  <div class="py-3 px-3 mt-4 border border-1 border-dark text-center bg-body-tertiary rounded-0">
		    <h2 class="text-body-emphasis"><i class="fa-solid fa-layer-group"></i> <span>Files Archive</span></h2>
		    <div class="input-group mt-4">
			  <Input @value={{this.query}} @type="text" class="form-control form-control-lg" placeholder="Type query (use re::phrase for complex search)" {{on-key "Enter" this.search}} />
			  <button {{on 'click' this.search}} type="button" class="btn btn-light btn-lg"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
			</div>
			<div class="mb-3 mt-3 d-flex align-items-center justify-content-between">
				<div class="text-start">
					Use '##' as separater. <a href="https://github.com/tribe-framework/rephrase" target="new" class="fst-italic text-decoration-underline text-muted">Learn more</a> about re::phrase.
				</div>
				<div class="d-flex align-content-center justify-content-end">
					<XToggle @theme='default' @size='small' @variant='light' @value={{this.deepSearch}} @onToggle={{fn (mut this.deepSearch)}} />
					<div class="text-end mx-2">Deep search (slower)</div>
				</div>
			</div>
		  </div>
		</div>

		<div class="container mx-auto px-2">
		{{#if this.loading}}
			<div class="mx-auto my-5">
				<div class="spinner-grow text-{{this.colormodes.inverseMode}}" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		{{else if this.results}}
			
			<table class="table mt-5">
				<thead>
					<tr>
					  <th scope="col">{{this.getLength this.results.by_file_name}} results with matching file name</th>
					  <th scope="col">URL</th>
					</tr>
				</thead>
				<tbody>
					{{#each-in this.results.by_file_name as |name link|}}
					<tr>
					  <td>{{name}}</td>
					  <td><a href="{{link}}" target="new" class="bt btn-sm btn-outline-primary">View <i class="fa-solid fa-up-right-from-square"></i></a></td>
					</tr>
					{{/each-in}}
				</tbody>
			</table>

			<table class="table mt-5">
				<thead>
					<tr>
					  <th scope="col">{{this.getLength this.results.by_file_content}} results with matching file content</th>
					  <th scope="col">URL</th>
					</tr>
				</thead>
				<tbody>
					{{#each-in this.results.by_file_content as |name link|}}
					<tr>
					  <td>{{name}}</td>
					  <td><a href="{{link}}" target="new" class="bt btn-sm btn-outline-primary">View <i class="fa-solid fa-up-right-from-square"></i></a></td>
					</tr>
					{{/each-in}}
				</tbody>
			</table>
		{{/if}}
		</div>

	</main>

</div>

<Footer @webapp={{this.types.json.modules.webapp}} />

{{outlet}}