{{page-title "Public"}}

<div class="d-none" {{did-insert this.initType}}></div>

{{#if this.type.currentType.public_form.is_live}}

	<Header @webapp={{@model.modules.webapp}} @public={{true}} />

	<div class="above-footer px-2">

		<main class="flex-shrink-0 page a4 d2 mb-5" style="min-height:75vh">

			<div class="container-xxl px-0 mx-auto text-center my-5">
				
			{{#if this.type.currentType.public_form.cover_url}}
				<img src="{{this.type.currentType.public_form.cover_url}}" class="img-fluid my-5 mx-auto" />
			{{/if}}

			{{#if this.object.currentObject.id}}

				<div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
				    <div class="text-center"><i class="fa-solid fa-circle-check fa-3x text-success"></i></div>
				    <h1 class="text-body-emphasis">{{this.type.currentType.public_form.title}}</h1>
				    <p class="col-lg-6 mx-auto mb-4">
				      {{this.type.currentType.public_form.thankyou_text}}
				    </p>
			  	</div>

			{{else}}

				{{#if this.type.currentType.public_form.title}}
					<h1 class="my-5 text-center">{{this.type.currentType.public_form.title}}</h1>
				{{/if}}

				{{#if this.type.currentType.public_form.description}}
					<p class="my-5 lead text-center">{{this.type.currentType.public_form.description}}</p>
				{{/if}}

			    {{#unless this.type.currentType.readonly}}
			    	{{#if this.type.currentType.public_form.button_text}}
						<div class="my-5"><button {{on 'click' this.openNewModal}} type="button" class="btn btn-lg btn-{{this.colormodes.inverseMode}} fw-normal text-capitalize">{{this.type.currentType.public_form.button_text}}</button></div>
			    	{{else}}
						<div class="my-5"><button {{on 'click' this.openNewModal}} type="button" class="btn btn-lg btn-{{this.colormodes.inverseMode}} fw-normal text-capitalize"><i class="fa-solid fa-plus"></i>&nbsp;New {{this.type.currentType.name}}</button></div>
			    	{{/if}}
				{{/unless}}

			{{/if}}

			</div>

		</main>

	</div>

	<Footer @webapp={{@model.modules.webapp}} />

{{/if}}

{{outlet}}