{{page-title "Type"}}

<Header @webapp={{this.type.types.json.modules.webapp}} />

<div class="above-footer px-2">
  <main class="flex-shrink-0 page a4 d2 mb-5">
    <div class="container-xxl mx-auto px-0">
      <PageSummaryCard />

      {{#if (eq this.type.currentType.slug "file_record")}}
        <Files::Uploader @reload={{this.changeType}} />
      {{/if}}

      {{#if (eq this.type.currentType.slug "apikey_record")}}
        <Api::AuthReference />
      {{/if}}
    </div>

    {{#if this.type.currentType}}
      <div
        {{on-click-outside this.stopWobble}}
        class="mt-5 position-relative min-vh-100 row pb-5 overflow-x-hidden mb-5 border border-1 border-{{this.colormodes.inverseMode}}
          {{if
            (lte this.type.modulesThatWillBeListed.length 5)
            'container-xxl mx-auto'
            'mx-0'
          }}"
      >
        {{#if
          (not
            (or
              (eq this.type.currentType.slug "deleted_record")
              (eq this.type.currentType.slug "file_record")
            )
          )
        }}
          <div class="position-absolute top-0 text-end end-0 p-0 m-0">
            {{#if this.activateReordering}}
              <div class="btn-group" role="group"><button
                  id="track-new"
                  type="button"
                  {{on "click" this.stopWobble}}
                  class="text-capitalize btn-lg fw-normal border-0 btn"
                ><i class="fa-solid fa-lock-open"></i></button></div>
            {{else}}
              <div class="btn-group" role="group"><button
                  id="track-new"
                  type="button"
                  {{on "click" this.startWobble}}
                  class="text-capitalize btn-lg fw-normal border-0 btn"
                ><i class="fa-solid fa-lock"></i></button></div>
            {{/if}}
          </div>
        {{/if}}

        <div class="col px-0">
          <Types::ListTable::TitleBar
            @type={{this.type.currentType}}
            @search={{this.type.search}}
            @clearSearch={{this.type.clearSearch}}
            @updatePageLength={{this.type.updatePageLength}}
            @currentPageLength={{this.type.currentPageLength}}
            @selectedRowIDs={{this.type.selectedRowIDs}}
            @advancedSearch={{this.type.advancedSearch}}
            @showClearSearchButton={{this.type.showClearSearchButton}}
            @searchQuery={{this.type.searchQuery}}
            @advancedSearchQuery={{this.type.advancedSearchQuery}}
            @clearSearchQuery={{this.type.clearSearchQuery}}
            @changePageNumber={{this.type.changePageNumber}}
          />

          <Types::Modules::List
            @activateReordering={{this.activateReordering}}
            @stopWobble={{this.stopWobble}}
          />

          <Types::ListTable::Pagination
            @type={{get
              this.type.types.json.modules
              this.type.currentType.slug
            }}
            @numberOfPages={{get
              this.type.currentNumberOfPages
              this.type.currentType.slug
            }}
            @pageLinks={{this.type.pageLinks}}
            @changePageNumber={{this.type.changePageNumber}}
            @currentPageNumber={{this.type.currentPageNumber}}
            @totalObjects={{this.type.totalObjects}}
          />

          <Types::ListTable
            @webapp={{this.type.types.json}}
            @type={{this.type.currentType}}
            @loadTypeObjects={{this.type.loadTypeObjects}}
            @selectedRowIDs={{this.type.selectedRowIDs}}
            @emptySelectedRowsInType={{this.type.emptySelectedRowsInType}}
          >

            <Types::ListTable::Head
              @updateSortField={{this.type.updateSortField}}
              @sortField={{this.type.sortField}}
              @type={{this.type.currentType}}
              @sortOrder={{this.type.sortOrder}}
            />

            <tbody>
              {{#each this.type.objectsInType as |object|}}
                {{#if (not-eq object.id "0")}}
                  <Types::ListTable::Row
                    @webapp={{this.type.types.json}}
                    @type={{this.type.currentType}}
                    @object={{object}}
                    @loadTypeObjects={{this.type.loadTypeObjects}}
                    @selectedRowIDs={{this.type.selectedRowIDs}}
                    @addToSelectedRowIDs={{this.type.addToSelectedRowIDs}}
                    @removeFromSelectedRowIDs={{this.type.removeFromSelectedRowIDs}}
                    @emptySelectedRowsInType={{this.type.emptySelectedRowsInType}}
                  />
                {{else}}
                  {{#if this.type.loadingSearchResults}}
                    <Types::ListTable::LoadingTableRow
                      @type={{this.type.currentType}}
                    />
                  {{else}}
                    <Types::ListTable::EmptyTableRow
                      @type={{this.type.currentType}}
                    />
                  {{/if}}
                {{/if}}
              {{else}}
                {{#if this.type.loadingSearchResults}}
                  <Types::ListTable::LoadingTableRow
                    @type={{this.type.currentType}}
                  />
                {{else}}
                  <Types::ListTable::EmptyTableRow
                    @type={{this.type.currentType}}
                  />
                {{/if}}
              {{/each}}
            </tbody>

          </Types::ListTable>
        </div>
      </div>
    {{/if}}

    <GoToTop />

  </main>

</div>

<Footer @webapp={{this.type.types.json.modules.webapp}} />

{{outlet}}
