{{page-title "Types"}}

<div class="above-footer">

	<Header @webapp={{this.types.json.modules.webapp}} />

	<main class="flex-shrink-0 page a4 d2 mb-5" style="min-height:75vh">
		
<div class="container-xxl px-2 mx-auto">

	<div class="row mt-3 row-cols-1 g-3">
		<div class="col">
			<PageSummaryCard @title="Types defined in types.json">
				{{#if this.types.json.modules.webapp.interface_urls.<%= dasherizedPackageName %>.types}}
					{{#each this.types.json.modules.webapp.interface_urls.<%= dasherizedPackageName %>.types as |type_slug|}}
				  		<button {{on 'click' (fn this.loadTypeObjects (get this.types.json.modules type_slug))}} type="button" class="btn {{if (eq type_slug this.currentType.slug) "btn-dark" "btn-outline-dark"}} me-2 mb-2">{{get (get this.types.json.modules type_slug) "plural"}}</button>
					{{/each}}
				{{else}}
					{{#each-in this.types.json.modules as |key type|}}
						{{#if (and (and type.slug (not-eq type.slug "webapp")) (not-eq type.hidden true))}}
					  		<button {{on 'click' (fn this.loadTypeObjects type)}} type="button" class="btn {{if (eq key this.currentType.slug) "btn-dark" "btn-outline-dark"}} me-2 mb-2">{{type.plural}}</button>
					  	{{/if}}
					{{/each-in}}
				{{/if}}
			</PageSummaryCard>
		</div>
	</div>
</div>

{{#if this.currentType}}
	<div style="overflow-x:hidden" class="row px-0 mt-3 row-cols-1 g-3 {{if (lte this.modulesThatWillBeListed.length 5) "container-xxl px-2 mx-auto" "mx-0"}}">
		<div class="col px-0">
			<Types::ListTable::TitleBar @type={{this.currentType}} @search={{this.search}} @clearSearch={{this.clearSearch}} @updatePageLength={{this.updatePageLength}} @currentPageLength={{this.currentPageLength}} @selectedRowIDs={{this.selectedRowIDs}} @advancedSearch={{this.advancedSearch}} @showClearSearchButton={{this.showClearSearchButton}} />

			<Types::ListTable::Pagination @type={{get this.types.json.modules this.currentType.slug}} @numberOfPages={{get this.currentNumberOfPages this.currentType.slug}} @pageLinks={{this.pageLinks}} @changePageNumber={{this.changePageNumber}} @currentPageNumber={{this.currentPageNumber}} />

			<Types::ListTable @webapp={{this.types.json}} @type={{this.currentType}} @loadTypeObjects={{this.loadTypeObjects}} @selectedRowIDs={{this.selectedRowIDs}} @emptySelectedRowsInType={{this.emptySelectedRowsInType}}>

				<Types::ListTable::Head @type={{this.currentType}} />

				<tbody>
					{{#each this.objectsInType as |object|}}
						{{#if (not-eq object.id "0")}}
							<Types::ListTable::Row @webapp={{this.types.json}} @type={{this.currentType}} @object={{object}} @loadTypeObjects={{this.loadTypeObjects}} @selectedRowIDs={{this.selectedRowIDs}} @addToSelectedRowIDs={{this.addToSelectedRowIDs}} @removeFromSelectedRowIDs={{this.removeFromSelectedRowIDs}} @emptySelectedRowsInType={{this.emptySelectedRowsInType}} />
						{{else}}
							{{#if this.loadingSearchResults}}
								<Types::ListTable::LoadingTableRow />
							{{else}}
								<Types::ListTable::EmptyTableRow />
							{{/if}}
						{{/if}}
					{{else}}
							{{#if this.loadingSearchResults}}
								<Types::ListTable::LoadingTableRow />
							{{else}}
								<Types::ListTable::EmptyTableRow />
							{{/if}}
					{{/each}}
				</tbody>

			</Types::ListTable>
		</div>
	</div>
{{/if}}

<GoToTop />

	</main>

	<Footer @webapp={{this.types.json.modules.webapp}} />

</div>
{{outlet}}