{{!-- Modal --}}
<div class="modal fade" id="editObjectModal-{{if @object.id @object.id (concat @type.slug "-" "new")}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editObjectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-capitalize" id="editObjectModalLabel">{{@type.name}} #{{@object.id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{yield}}

        {{#each @type.modules as |module|}}
        	
        	{{#if (eq module.input_type "checkbox")}}
        		<InputFields::Checkbox @type={{@type}} @module={{module}} @object={{this.objectModules}} />

        	{{else if (eq module.input_type "color")}}
        		<InputFields::Color @type={{@type}} @module={{module}} @object={{this.objectModules}} />

        	{{else if (eq module.input_type "date")}}
        		<InputFields::Date @type={{@type}} @module={{module}} @object={{this.objectModules}} />
        	
        	{{else if (eq module.input_type "datetime-local")}}
        		<InputFields::Datetime-Local @type={{@type}} @module={{module}} @object={{this.objectModules}} />

        	{{else if (eq module.input_type "editorjs")}}
        		<InputFields::Editorjs @type={{@type}} @module={{module}} @object={{this.objectModules}} />

          {{else if (eq module.input_type "typeout")}}
            <InputFields::Typeout @type={{@type}} @module={{module}} @object={{this.objectModules}} />

        	{{else if (eq module.input_type "email")}}
        		<InputFields::Email @type={{@type}} @module={{module}} @object={{this.objectModules}} />
        	
        	{{else if (eq module.input_type "file_uploader")}}
        		<InputFields::FileUploader @type={{@type}} @module={{module}} @object={{this.objectModules}} />

        	{{else if (eq module.input_type "hidden")}}
        		<InputFields::Hidden @type={{@type}} @module={{module}} @object={{this.objectModules}} />
        	
        	{{else if (eq module.input_type "json")}}
        		<InputFields::Json @type={{@type}} @module={{module}} @object={{this.objectModules}} />

        	{{else if (eq module.input_type "number")}}
        		<InputFields::Number @type={{@type}} @module={{module}} @object={{this.objectModules}} />
        	
        	{{else if (eq module.input_type "password")}}
        		<InputFields::Password @type={{@type}} @module={{module}} @object={{this.objectModules}} />

        	{{else if (eq module.input_type "select")}}
        		<InputFields::Select @type={{@type}} @module={{module}} @object={{this.objectModules}} />

        	{{else if (eq module.input_type "tel")}}
        		<InputFields::Tel @type={{@type}} @module={{module}} @object={{this.objectModules}} />

        	{{else if (eq module.input_type "text")}}
        		<InputFields::Text @type={{@type}} @module={{module}} @object={{this.objectModules}} />
        	
        	{{else if (eq module.input_type "textarea")}}
        		<InputFields::Textarea @type={{@type}} @module={{module}} @object={{this.objectModules}} />
        	
        	{{else if (eq module.input_type "url")}}
        		<InputFields::Url @type={{@type}} @module={{module}} @object={{this.objectModules}} />

        	{{/if}}
        {{/each}}
      </div>
      <div class="modal-footer">
      	<InputFields::Hidden @module={{hash input_slug="id" input_type="hidden"}} @object={{this.objectModules}} />
      	<InputFields::Hidden @module={{hash input_slug="type" input_type="hidden"}} @object={{this.objectModules}} />
        <div class="w-100 d-flex align-items-center justify-content-between">

          {{#if @object.id}}

            <button type="button" class="btn btn-primary" {{on 'click' this.pushObject}}>Save changes</button>

            <div class="d-flex justify-content-start align-items-center" {{on 'click' this.areYouSure}}>
              <div class="d-flex justify-content-start align-items-start">
                <button type="button" class="btn btn-danger text-light me-2"><FaIcon @icon="trash-alt" /></button>
              </div>
              <div class="d-none justify-content-start align-items-center" id="deleteObjectConfirmation-{{@object.id}}">
                <div class="me-2">Are you sure?</div>
                <button data-bs-dismiss="modal" type="button" class="btn btn-sm btn-danger me-1" {{on 'click' this.deleteObject}}>Yes, delete it</button>
                <button type="button" class="btn btn-sm btn-success me-1" {{on 'click' this.notSoSure}}>No, keep it</button>
              </div>
            </div>

          {{else}}

            <button data-bs-dismiss="modal" type="button" class="btn btn-primary" {{on 'click' this.pushObject}}>Create new {{@type.name}}</button>

          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>