<div class="container pb-4">
	<div class="d-flex align-items-start justify-content-between row">
		<h1 class="text-capitalize col-lg-6 px-0 d-flex align-items-start">{{@type.plural}}</h1>
		<div class="row col-lg-6 mx-auto px-0 d-flex align-items-start">
			<div class="order-2 order-lg-1 col-lg-9 px-0 col-12 my-1 d-flex justify-content-end">
				<div class="input-group mx-0">
				  <input type="text" class="border border-dark form-control" placeholder="Search within {{@type.plural}}">
				  <button class="btn btn-outline-dark" type="button"><FaIcon @icon="magnifying-glass" @prefix="fa-light" /></button>
				</div>
			</div>
			<div class="order-1 order-lg-2 col-lg-3 px-0 col-12 my-1 d-flex justify-content-end">
				<button data-bs-toggle="modal" data-bs-target="#editObjectModal-{{@type.slug}}-new" type="button" class="btn btn-dark fw-normal w-100"><FaIcon @icon="plus" @prefix="fa-light" />&nbsp;New</button>
			</div>
		</div>
	</div>
</div>

<div style="overflow-x:scroll">
	<table class="table table-striped types-data-table">
		{{yield}}
	</table>
</div>

<Types::EditObjectModal @type={{@type}} />