<!-- Modal -->
<div class="modal fade" id="newObjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newObjectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newObjectModalLabel">New {{@type.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{yield}}

        {{#each @type.modules as |module|}}
        	
        	{{#if (eq module.input_type "checkbox")}}
        		<InputFields::Checkbox @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "color")}}
        		<InputFields::Color @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "csv")}}
        		<InputFields::CSV @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "date")}}
        		<InputFields::Date @module={{module}} @value={{get @object module.input_slug}} />
        	
        	{{else if (eq module.input_type "datetime-local")}}
        		<InputFields::Datetime-Local @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "editorjs")}}
        		<InputFields::EditorJS @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "email")}}
        		<InputFields::Email @module={{module}} @value={{get @object module.input_slug}} />
        	
        	{{else if (eq module.input_type "file-uploader")}}
        		<InputFields::FileUploader @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "hidden")}}
        		<InputFields::Hidden @module={{module}} @value={{get @object module.input_slug}} />
        	
        	{{else if (eq module.input_type "json")}}
        		<InputFields::JSON @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "multi-select")}}
        		<InputFields::MultiSelect @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "number")}}
        		<InputFields::Number @module={{module}} @value={{get @object module.input_slug}} />
        	
        	{{else if (eq module.input_type "password")}}
        		<InputFields::Password @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "select")}}
        		<InputFields::Select @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "tel")}}
        		<InputFields::Tel @module={{module}} @value={{get @object module.input_slug}} />

        	{{else if (eq module.input_type "text")}}
        		<InputFields::Text @module={{module}} @value={{get @object module.input_slug}} />
        	
        	{{else if (eq module.input_type "textarea")}}
        		<InputFields::Textarea @module={{module}} @value={{get @object module.input_slug}} />
        	
        	{{else if (eq module.input_type "url")}}
        		<InputFields::URL @module={{module}} @value={{get @object module.input_slug}} />

        	{{/if}}
        {{/each}}
      </div>
      <div class="modal-footer">
      	<InputFields::Hidden @module={{module}} @value={{get @object "id"}} />
      	<InputFields::Hidden @module={{module}} @value={{get @object "type"}} />
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>