<div class="mb-5 d-flex align-items-center justify-content-start">
  <div class="mx-n1"><XToggle
      @value={{get @object @module.input_slug}}
      @onToggle={{fn (mut (get @object @module.input_slug))}}
      @theme="ios"
      @variant={{this.colormodes.mode}}
    /></div>
  <div class="form-text text-end ms-4">{{if
      @module.input_placeholder
      @module.input_placeholder
      (concat "Choose " @module.input_slug)
    }}
    {{if
      @module.input_required
      (html-safe '<span class="text-danger">*</span>')
    }}</div>
</div>