<div class="mb-3" {{did-insert this.isModuleAlsoAType}}>

  {{#if @module.input_multiple}}

      <PowerSelectMultiple class="form-control border-dark" @selected={{this.selectedMultiOptions}} @searchEnabled={{true}} @searchField="title" @placeholder={{@module.input_placeholder}} @options={{this.options}} @onChange={{this.updateMultiValue}} as |opt|>
        {{opt.title}}
      </PowerSelectMultiple>

  {{else}}

      <PowerSelect class="form-control border-dark" @selected={{this.selectedOption}} @searchEnabled={{true}} @searchField="title" @placeholder={{@module.input_placeholder}} @options={{this.options}} @onChange={{this.updateValue}} as |opt|>
        {{opt.title}}
      </PowerSelect>

  {{/if}}

  <div class="form-text text-end text-dark">{{if @module.input_placeholder @module.input_placeholder (concat "Enter " @module.input_slug)}}</div>
</div>