{{#if @multiEdit}}
  <div class="d-none" {{did-insert this.cleanVarsOnMultiModalOpen}}></div>
{{else}}
  <div class="d-none" {{did-insert this.cleanVarsOnNewModalOpen}}></div>
{{/if}}

<div class="mb-3">

  {{#if @module.input_multiple}}

    <PowerSelectMultiple
      class="form-control"
      @selected={{this.selectedMultiOptions}}
      @searchEnabled={{true}}
      @searchField="title"
      @placeholder={{@module.input_placeholder}}
      @options={{this.options}}
      @dropdownClass="in-modal-dropdown"
      @onChange={{this.updateMultiValue}}
      as |opt|
    >
      {{get opt this.titleSlug}}
    </PowerSelectMultiple>

  {{else}}

    <PowerSelect
      class="form-control"
      @selected={{this.selectedOption}}
      @searchEnabled={{true}}
      @searchField="title"
      @allowClear={{true}}
      @placeholder={{@module.input_placeholder}}
      @options={{this.options}}
      @renderInPlace={{true}}
      @dropdownClass="in-modal-dropdown"
      @onChange={{this.updateValue}}
      as |opt|
    >
      {{get opt this.titleSlug}}
    </PowerSelect>

  {{/if}}

  <div class="form-text text-end">{{if
      @module.input_placeholder
      @module.input_placeholder
      (concat "Enter " @module.input_slug)
    }}
    {{if
      @module.input_required
      (html-safe '<span class="text-danger">*</span>')
    }}</div>

</div>