<div class="mb-3 {{if (eq @module.input_type 'hidden') 'd-none'}}">
  {{#if @module.input_multiple}}
    {{#each (get @object @module.input_slug) as |field index|}}
      <InputFields::Multi
        @mutObjectModuleValue={{@mutObjectModuleValue}}
        @type={{@type}}
        @module={{@module}}
        @id={{@id}}
        @object={{@object}}
        @addToMultiField={{@addToMultiField}}
        @removeFromMultiField={{@removeFromMultiField}}
        @index={{index}}
      />
    {{else}}
      <InputFields::Multi
        @mutObjectModuleValue={{@mutObjectModuleValue}}
        @type={{@type}}
        @module={{@module}}
        @id={{@id}}
        @object={{@object}}
        @addToMultiField={{@addToMultiField}}
        @removeFromMultiField={{@removeFromMultiField}}
        @index={{0}}
      />
    {{/each}}

    <div class="form-text text-end">
      {{if
        @module.input_placeholder
        @module.input_placeholder
        (concat "Enter " @module.input_slug)
      }}
      {{if
        @module.input_required
        (html-safe '<span class="text-danger">*</span>')
      }}
    </div>
  {{else}}
    <Input
      id={{concat @type.slug "-" @module.input_slug "-" @id}}
      class="form-control {{if (eq @module.input_type 'hidden') 'd-none'}}"
      placeholder={{@module.input_placeholder}}
      min={{@module.input_min}}
      max={{@module.input_max}}
      inputmode="{{this.inputMode @module.input_type}}"
      autocomplete="off"
      @value={{mut (get @object @module.input_slug)}}
      @type={{this.inputType @module.input_type}}
    />

    <div
      class="form-text text-end
        {{if
          (eq @module.input_type 'hidden')
          'd-none'
          'd-flex w-100 align-items-center justify-content-end'
        }}"
    >
      {{#if @module.input_primary}}
        {{#unless this.object.viaPublicForm}}
          {{#if
            (not (and (get @object @module.input_slug) (not-eq @id "new")))
          }}
            <div
              {{on "click" this.generateTitle}}
              role="button"
              class="text-decoration-underline text-end mt-0 cursor-pointer"
            >Generate text</div>
            <div class="mx-1"> or </div>
          {{/if}}
        {{/unless}}
      {{/if}}

      <div>
        {{if
          @module.input_placeholder
          @module.input_placeholder
          (concat "Enter " @module.input_slug)
        }}
        {{if
          @module.input_required
          (html-safe '<span class="text-danger">*</span>')
        }}
      </div>
    </div>
  {{/if}}
</div>