<div class="mb-3">
	{{#if this.disabled}}
		<Textarea disabled="disabled" @value={{get @object @module.input_slug}} class="form-control" placeholder={{@module.input_placeholder}} />
	{{else}}
		<Textarea id={{concat @type.slug "-" @module.input_slug "-" @id}} @value={{get @object @module.input_slug}} class="form-control" placeholder={{@module.input_placeholder}} autocomplete="off" />
	{{/if}}

	<div class="form-text text-end d-flex align-items-center justify-content-end">
		<span class="me-2">{{if @module.input_placeholder @module.input_placeholder (concat "Enter " @module.input_slug)}} {{if @module.input_required (html-safe "<span class=\"text-danger\">*</span>")}}</span>

		{{#if this.disabled}}
			<button class="btn btn-sm btn-outline-primary" type="button" {{on 'click' this.initTypeout}}>Edit (Typeout)</button>
		{{else}}
			<button class="btn btn-sm btn-secondary" type="button" {{on 'click' this.saveTypeout}}>Save changes</button>
		{{/if}}
	</div>
</div>
