<div class="mb-3">
  {{#if @module.input_multiple}}
    {{#each (get @object @module.input_slug) as |field index|}}
      {{#if field}}
        <InputFields::Multi
          @mutObjectModuleValue={{@mutObjectModuleValue}}
          @type="text"
          @module={{@module}}
          @id={{@id}}
          @object={{@object}}
          @addToMultiField={{@addToMultiField}}
          @removeFromMultiField={{@removeFromMultiField}}
          @index={{index}}
        />
      {{/if}}
    {{else}}
      <InputFields::Multi
        @mutObjectModuleValue={{@mutObjectModuleValue}}
        @type="text"
        @module={{@module}}
        @id={{@id}}
        @object={{@object}}
        @addToMultiField={{@addToMultiField}}
        @removeFromMultiField={{@removeFromMultiField}}
        @index={{0}}
      />
    {{/each}}
    <div class="form-text text-end">{{@module.input_placeholder}}
      {{if
        @module.input_required
        (html-safe '<span class="text-danger">*</span>')
      }}</div>
  {{else}}
    <Input
      id={{concat @type.slug "-" @module.input_slug "-" @id}}
      @value={{mut (get @object @module.input_slug)}}
      @type={{@module.input_type}}
      class="form-control"
      placeholder={{@module.input_placeholder}}
      autocomplete="off"
    />

    <div
      class="form-text text-end d-flex w-100 align-items-center justify-content-end"
    >
      <div
        {{on "click" this.generateUUIDv4}}
        role="button"
        class="text-decoration-underline text-end mt-0 cursor-pointer"
      >Generate</div>
      <div class="mx-1"> or </div>
      <div>{{@module.input_placeholder}}</div>
      {{if
        @module.input_required
        (html-safe '<span class="text-danger">*</span>')
      }}</div>
  {{/if}}
</div>