{{! Modal }}
<div
  class="modal fade"
  id="blueprintObjectModal"
  tabindex="-1"
  aria-labelledby="blueprintObjectModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="blueprintObjectModalLabel"><span
            class="text-primary"
          >{ object-blueprint }</span>
          {{this.object.currentType.name}}
          #{{this.object.currentObject.id}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"><Types::Blueprint::JsonDisplay
          @jsondata={{this.object.currentObject.modules}}
        /></div>

      {{#if this.object.currentObject}}
        <div
          class="modal-footer d-flex align-items-center justify-content-end p-0"
        >
          <div class="d-flex align-items-center justify-content-end">
            <button
              {{on
                "click"
                (fn this.copyJSON this.object.currentObject.modules)
              }}
              type="button"
              class="btn btn-sm btn-secondary ms-2"
            ><i class="fa-solid fa-copy"></i> Copy JSON</button>
            <button
              {{on
                "click"
                (fn
                  this.copyAPILink
                  this.object.currentType.slug
                  this.object.currentObject.id
                )
              }}
              type="button"
              class="btn btn-sm btn-primary ms-2"
            ><i class="fa-solid fa-copy"></i> Copy API URL</button>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>