{{#unless this.object.reloadingVars}}
  {{! Modal }}
  <div
    class="modal fade"
    id="editObjectModal{{if
      @multiEdit
      (concat '-' this.type.currentType.slug '-multi')
    }}"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="editObjectModalLabel"
    aria-hidden="true"
    {{this.onload}}
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
    >
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <div class="modal-title" id="editObjectModalLabel">
            <div class="fs-5 text-capitalize">{{this.type.currentType.name}}
              #{{this.object.currentObject.id}}</div>
            {{#if this.object.currentObject.id}}
              <p
                class="small text-muted fw-bold mb-0"
              >{{this.object.currentObject.modules.slug}}
                <span {{on "click" this.updateSlug}}><i
                    class="fa-solid fa-arrows-rotate"
                  ></i></span></p>
            {{/if}}
          </div>
          <button
            type="button"
            id="editObjectModal-close{{if
              @multiEdit
              (concat '-' this.type.currentType.slug '-multi')
            }}"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {{yield}}

          {{#if (eq this.type.currentType.slug "deleted_record")}}

            <h4>Are you sure you wish the permanently delete the selected
              record(s)?</h4>

          {{else}}

            {{#each this.type.currentType.modules as |module|}}

              {{#if
                (and
                  (or
                    (not this.object.viaPublicForm)
                    (this.indexOf
                      this.type.currentType.public_form.modules
                      module.input_slug
                    )
                  )
                  (not
                    (or
                      (and @multiEdit module.input_primary)
                      (and @multiEdit (eq module.input_multiple true))
                      (and @multiEdit (eq module.input_type "file_uploader"))
                      (and @multiEdit (eq module.input_type "editorjs"))
                    )
                  )
                )
              }}

                {{#if (eq module.input_type "checkbox")}}
                  <InputFields::Checkbox
                    @mutObjectModuleValue={{this.mutObjectModuleValue}}
                    @type={{this.type.currentType}}
                    @module={{module}}
                    @id={{this.objectID}}
                    @object={{this.objectModules}}
                    @addToMultiField={{this.addToMultiField}}
                    @removeFromMultiField={{this.removeFromMultiField}}
                  />

                {{else if (eq module.input_type "editorjs")}}
                  <InputFields::Editorjs
                    @mutObjectModuleValue={{this.mutObjectModuleValue}}
                    @type={{this.type.currentType}}
                    @module={{module}}
                    @id={{this.objectID}}
                    @object={{this.objectModules}}
                    @addToMultiField={{this.addToMultiField}}
                    @removeFromMultiField={{this.removeFromMultiField}}
                    @initEditorJS={{this.initEditorJS}}
                    @uninitEditorJS={{this.uninitEditorJS}}
                    @saveEditorData={{this.saveEditorData}}
                  />

                {{else if (eq module.input_type "typeout")}}
                  <InputFields::Typeout
                    @mutObjectModuleValue={{this.mutObjectModuleValue}}
                    @type={{this.type.currentType}}
                    @module={{module}}
                    @id={{this.objectID}}
                    @object={{this.objectModules}}
                    @addToMultiField={{this.addToMultiField}}
                    @removeFromMultiField={{this.removeFromMultiField}}
                  />

                {{else if (eq module.input_type "file_uploader")}}
                  <InputFields::FileUploader
                    @mutObjectModuleValue={{this.mutObjectModuleValue}}
                    @type={{this.type.currentType}}
                    @module={{module}}
                    @id={{this.objectID}}
                    @object={{this.objectModules}}
                    @addToMultiField={{this.addToMultiField}}
                    @removeFromMultiField={{this.removeFromMultiField}}
                  />

                {{else if (eq module.input_type "select")}}
                  <InputFields::Select
                    @mutObjectModuleValue={{this.mutObjectModuleValue}}
                    @type={{this.type.currentType}}
                    @module={{module}}
                    @id={{this.objectID}}
                    @object={{this.objectModules}}
                    @addToMultiField={{this.addToMultiField}}
                    @removeFromMultiField={{this.removeFromMultiField}}
                    @multiEdit={{@multiEdit}}
                  />

                {{else if
                  (or
                    (eq module.input_type "textarea")
                    (eq module.input_type "json")
                  )
                }}
                  <InputFields::Textarea
                    @mutObjectModuleValue={{this.mutObjectModuleValue}}
                    @type={{this.type.currentType}}
                    @module={{module}}
                    @id={{this.objectID}}
                    @object={{this.objectModules}}
                    @addToMultiField={{this.addToMultiField}}
                    @removeFromMultiField={{this.removeFromMultiField}}
                  />

                {{else if (eq module.input_type "uuid-v4")}}
                  <InputFields::UuidV4
                    @mutObjectModuleValue={{this.mutObjectModuleValue}}
                    @type={{this.type.currentType}}
                    @module={{module}}
                    @id={{this.objectID}}
                    @object={{this.objectModules}}
                    @addToMultiField={{this.addToMultiField}}
                    @removeFromMultiField={{this.removeFromMultiField}}
                  />

                {{else}}
                  <InputFields::Text
                    @mutObjectModuleValue={{this.mutObjectModuleValue}}
                    @type={{this.type.currentType}}
                    @module={{module}}
                    @id={{this.objectID}}
                    @object={{this.objectModules}}
                    @addToMultiField={{this.addToMultiField}}
                    @removeFromMultiField={{this.removeFromMultiField}}
                  />

                {{/if}}

              {{/if}}

            {{/each}}
          {{/if}}
        </div>
        <div class="modal-footer p-0">
          <InputFields::Text
            @module={{hash input_slug="type" input_type="hidden"}}
            @object={{this.objectModules}}
          />
          <div class="w-100 d-flex align-items-center justify-content-between">

            {{#if this.object.currentObject.id}}
              <InputFields::Text
                @module={{hash input_slug="id" input_type="hidden"}}
                @object={{this.objectModules}}
              />

              <div class="d-flex justify-content-start align-items-center">
                <div class="d-flex justify-content-start align-items-start">
                  <button
                    {{on "click" this.areYouSure}}
                    type="button"
                    class="btn btn-danger"
                  ><i class="fa-solid fa-trash"></i></button>
                </div>
                <div
                  class="{{this.deleteSurity}}
                    justify-content-start align-items-center"
                  id="deleteObjectConfirmation-{{this.object.currentObject.id}}"
                >
                  <div class="mx-2">Are you sure?</div>
                  <button
                    data-bs-dismiss="modal"
                    type="button"
                    class="btn btn-sm btn-danger me-1"
                    {{on "click" this.deleteObject}}
                  >Yes, delete it</button>
                  <button
                    type="button"
                    class="btn btn-sm btn-secondary me-1"
                    {{on "click" this.notSoSure}}
                  >No, keep it</button>
                </div>
              </div>

              {{#if (eq this.type.currentType.slug "deleted_record")}}
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  data-bs-dismiss="modal"
                >Close without deleting</button>
              {{else}}
                <button
                  type="button"
                  class="btn btn-primary"
                  {{on "click" this.pushObject}}
                >Save changes</button>
              {{/if}}

            {{else}}
              {{#if @multiEdit}}

                <div class="d-flex justify-content-start align-items-center">
                  <div class="d-flex justify-content-start align-items-start">
                    <button
                      {{on "click" this.areYouSure}}
                      type="button"
                      class="btn btn-danger"
                    ><i class="fa-solid fa-trash"></i></button>
                  </div>
                  <div
                    class="{{this.deleteSurity}}
                      justify-content-start align-items-center"
                    id="deleteObjectConfirmation-{{this.type.currentType.slug}}-multi"
                  >
                    <div class="mx-2">Delete ALL selected objects?</div>
                    <button
                      data-bs-dismiss="modal"
                      type="button"
                      class="btn btn-sm btn-danger me-1"
                      {{on
                        "click"
                        (fn this.deleteObjects this.type.selectedRowIDs)
                      }}
                    >Yes, delete them</button>
                    <button
                      type="button"
                      class="btn btn-sm btn-secondary me-1"
                      {{on "click" this.notSoSure}}
                    >No, keep them</button>
                  </div>
                </div>

                {{#if (eq this.type.currentType.slug "deleted_record")}}
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-dismiss="modal"
                  >Close without deleting</button>
                {{else}}
                  <button
                    data-bs-dismiss="modal"
                    type="button"
                    class="btn btn-primary"
                    {{on
                      "click"
                      (fn this.pushObjects this.type.selectedRowIDs)
                    }}
                  >Multi-edit save {{this.type.currentType.name}}</button>
                {{/if}}
              {{else}}

                <div>&nbsp;</div>
                <button
                  type="button"
                  class="btn btn-primary"
                  {{on "click" this.pushObject}}
                >Create new {{this.type.currentType.name}}</button>

              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/unless}}