<h2 class="text-uppercase text-primary mt-4">Summary</h2>
<div class="card px-0 border-top border-5 border-primary">
  <div class="card-body">
  	<table class="table">
	  <tbody>

				{{#if @types.webapp.interface_urls.<%= dasherizedPackageName %>.types}}
					{{#each @types.webapp.interface_urls.<%= dasherizedPackageName %>.types as |type_slug|}}
					    <tr>
					      <td><span class="text-decoration-none cursor-pointer" {{on 'click' (fn this.changeType (get @types type_slug))}}>{{get (get @types type_slug) "plural"}}</span></td>
					      <td>{{get (get @types type_slug) "total_objects"}}</td>
					    </tr>
					{{/each}}
				{{else}}

			  	{{#each-in @types as |key type|}}
		        {{#if (eq type.slug "deleted_record")}}
		          {{#if this.types.json.modules.webapp.soft_delete_records}}
						    <tr>
						      <td><span class="text-decoration-none cursor-pointer" {{on 'click' (fn this.changeType type)}}>{{get (get @types key) "plural"}}</span></td>
						      <td>{{type.total_objects}}</td>
						    </tr>
		          {{/if}}
		        {{else}}
				  		{{#if (and (not-eq key "webapp") (not-eq type.hidden true))}}
						    <tr>
						      <td><span class="text-decoration-none cursor-pointer" {{on 'click' (fn this.changeType type)}}>{{get (get @types key) "plural"}}</span></td>
						      <td>{{type.total_objects}}</td>
						    </tr>
							{{/if}}
		        {{/if}}
			    {{/each-in}}

			  {{/if}}
	  </tbody>
	</table>
  </div>
</div>
{{yield}}