<div class="card px-0 border-success">
  <div class="card-header border-0 text-uppercase bg-success">
    <i class="fa-solid fa-list"></i>
    <span class="ms-1">Summary</span>
  </div>
  <div class="card-body">
  	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Tracks</th>
	      <th scope="col">#</th>
	    </tr>
	  </thead>
	  <tbody>


				{{#if @types.webapp.interface_urls.<%= dasherizedPackageName %>.types}}
					{{#each @types.webapp.interface_urls.<%= dasherizedPackageName %>.types as |type_slug|}}
					    <tr>
					      <td><span class="text-decoration-none cursor-pointer" {{on 'click' (fn this.changeType (get @types type_slug))}}>{{get (get @types type_slug) "plural"}}</span></td>
					      <td>{{get (get @types type_slug) "total_objects"}}</td>
					    </tr>
					{{/each}}
				{{else}}

			  	{{#each-in @types as |key type|}}
		        {{#if (eq type.slug "deleted_record")}}
		          {{#if this.types.json.modules.webapp.soft_delete_records}}
						    <tr>
						      <td><span class="text-decoration-none text-dark cursor-pointer" {{on 'click' (fn this.changeType type)}}>{{get (get @types key) "plural"}}</span></td>
						      <td>{{type.total_objects}}</td>
						    </tr>
		          {{/if}}
		        {{else}}
				  		{{#if (and (not-eq key "webapp") (not-eq type.hidden true))}}
						    <tr>
						      <td><span class="text-decoration-none cursor-pointer" {{on 'click' (fn this.changeType type)}}>{{get (get @types key) "plural"}}</span></td>
						      <td>{{type.total_objects}}</td>
						    </tr>
							{{/if}}
		        {{/if}}
			    {{/each-in}}

			  {{/if}}
	  </tbody>
	</table>
  </div>
</div>
{{yield}}