{{!-- Modal --}}
<div class="modal fade" id="typesWebapp" tabindex="-1" aria-labelledby="typesWebappLabel" aria-hidden="true" {{did-insert this.initWebapp}}>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="typesWebappLabel"><i class="fa-solid fa-gear"></i> Settings</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3 align-items-center my-3 border-bottom border-1 border-muted pb-3">
          <div class="my-1 py-0 col-12 col-md-2">
            <label class="fst-italic col-form-label fw-bold">name</label>
          </div>
          <div class="my-1 col-12 col-md-7">
            {{#if this.isJunctionExpress}}
              <Input disabled @type="text" @value={{mut (get (get this.types.json.modules "webapp") "name")}} class="form-control" />
            {{else}}
              <Input @type="text" @value={{mut (get (get this.types.json.modules "webapp") "name")}} class="form-control" />
            {{/if}}
          </div>
          <div class="my-1 col-12 col-md-3">
            {{#if this.isJunctionExpress}}
              <span class="form-text">A name for your Junction.</span>
            {{else}}
              <span class="form-text">A name for your Junction. <a href="https://junction.express/junctions" target="_blank" rel="noopener noreferrer">Click here to edit.</a></span>
            {{/if}}
          </div>
        </div>

      	<Types::Editor::Textarea @typeKey="description" @typeSlug="webapp" @helpText="Short description." />
      	<Types::Editor::Checkbox @typeKey="soft_delete_records" @typeSlug="webapp" @helpText="To make sure your records never get fully deleted." />
      </div>
      <div class="modal-footer p-1 d-flex align-items-center justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close without saving</button>
        <button type="button" {{on 'click' this.save}} class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
