{{#unless this.reloadTypes}}

  {{#if this.type.currentType}}
    {{#if
      (and
        (not-eq this.type.currentType.slug "deleted_record")
        (not-eq this.type.currentType.slug "file_record")
      )
    }}
      <div
        id="module-names"
        class="d-flex align-items-center flex-wrap justify-content-center mb-5 col-lg-7 col-md-10 mx-auto"
      >
        {{#each this.type.currentType.modules as |module|}}
          {{#if (eq module.input_slug "content_privacy")}}
            <div
              class="btn-group
                {{if @activateReordering 'wobble'}}
                mx-1 my-1 module-name-btn"
              data-module-slug={{module.input_slug}}
              role="group"
            ><button
                disabled
                title="Hold and drag to reorder"
                class="rounded-pill btn btn-outline-{{this.colormodes.inverseMode}}
                  px-3"
                id="module-{{module.input_slug}}"
                type="button"
              >{{module.input_slug}}</button></div>
          {{else}}
            <div
              class="btn-group
                {{if @activateReordering 'wobble'}}
                mx-1 my-1 module-name-btn"
              data-module-slug={{module.input_slug}}
              role="group"
            ><button
                title="Hold and drag to reorder"
                {{on "click" (fn this.module.changeModule module)}}
                data-bs-target="#moduleModal"
                data-bs-toggle="modal"
                class="rounded-pill btn btn-outline-{{this.colormodes.inverseMode}}
                  px-3"
                id="module-{{module.input_slug}}"
                type="button"
                {{on
                  "mouseover"
                  (fn this.highlightLinkages module.linked_type)
                }}
                {{on
                  "mouseout"
                  (fn this.unhighlightLinkages module.linked_type)
                }}
              >{{if
                  module.linked_type
                  (html-safe '<i class="fa-solid fa-link"></i>')
                }}
                {{module.input_slug}}</button></div>
          {{/if}}
        {{/each}}
        <button
          data-bs-target="#newModuleModel"
          data-bs-toggle="modal"
          class="rounded-pill mx-1 btn btn-outline-{{this.colormodes.inverseMode}}
            my-1"
          type="button"
        ><i class="fa-solid fa-plus"></i></button>
      </div>
    {{else}}
      <div class="d-flex align-items-center justify-content-center mb-4"></div>
    {{/if}}
  {{/if}}

  {{#if @activateReordering}}
    <div
      class="w-50 mt-n4 mb-5 mx-auto rounded-pill bg-{{this.colormodes.inverseMode}}
        p-1 d-flex align-items-center justify-content-between"
    >
      <button
        class="btn btn-sm btn-outline-{{this.colormodes.mode}} rounded-pill"
        type="button"
        {{on "click" this.ignoreReordering}}
      ><i class="fa-solid fa-circle-xmark"></i> Do not save</button>
      <button
        class="btn btn-sm btn-primary rounded-pill"
        type="button"
        {{on "click" this.saveReordering}}
      ><i class="fa-solid fa-circle-check"></i> Save reordering</button>
    </div>
  {{/if}}

{{/unless}}