{{! Modal }}
<div
  class="modal fade"
  id="csvImportExportModal"
  tabindex="-1"
  aria-labelledby="csvImportExportModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fst-italic fs-5"
          id="csvImportExportModalLabel"
        >Import / Export Data
          <span
            class="text-capitalize"
          >{{this.type.currentType.plural}}</span></h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>To import, first
          <a
            {{on "click" this.papaUnparseFormat}}
            class="text-decoration-underline cursor-pointer"
          >download the CSV Format</a>, fill it and then upload. If you use the
          id column, any matching IDs with same column name will be replaced.</div>
        <div class="my-3">
          <Files::CsvUploader
            @placeholder="Upload CSV data for import"
            @onCsvProcessed={{this.handleProcessedCsvData}}
          />
        </div>
      </div>
      <div
        class="modal-footer d-flex align-items-center justify-content-between p-0"
      >
        <div class="d-flex align-items-center justify-content-start">
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm me-2"
            data-bs-dismiss="modal"
          >Close</button>
        </div>
        {{#if this.type.showCsvSave}}
          <div class="d-flex align-items-center justify-content-end">
            <button
              {{on "click" this.saveAllRecords}}
              type="button"
              class="btn btn-success btn-lg ms-2"
            ><i class="fa-solid fa-circle-check"></i>
              Save uploaded objects</button>
          </div>
        {{else}}
          <div class="d-flex align-items-center justify-content-end">
            <button
              {{on "click" this.papaUnparse}}
              type="button"
              class="btn btn-primary ms-2"
            ><i class="fa-solid fa-download"></i>
              Export Complete Dataset</button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>