<thead>
<tr class="border-start border-bottom border-top border-end border-2 fs-6 fst-italic">
  <th scope="col" class="position-relative">
    <span class="me-1 cursor-pointer" {{on 'click' (fn @updateSortField "id")}}>ID</span>
    <span style="bottom:7px;" class="cursor-pointer position-absolute {{if (not-eq (get @sortField @type.slug) "id") "d-none"}}" {{on 'click' (fn @updateSortField "id")}}><i class="fa-solid fa-caret-{{if (eq (get @sortOrder @type.slug) "asc") "up" "down"}}"></i></span>
  </th>
  {{#each @type.modules as |module|}}
    {{#if module.list_field}}
      <th scope="col" class="position-relative {{if module.input_primary "min-width-primary-module"}}">
        
        {{#if module.list_sortable}}
          <span class="me-1 cursor-pointer" {{on 'click' (fn @updateSortField module.input_slug)}}>{{module.input_slug}}</span>
          <span style="bottom:7px;" class="cursor-pointer position-absolute {{if (not-eq (get @sortField @type.slug) module.input_slug) "d-none"}}" {{on 'click' (fn @updateSortField module.input_slug)}}><i class="fa-solid fa-caret-{{if (eq (get @sortOrder @type.slug) "asc") "up" "down"}}"></i></span>
        {{else}}
          <span>{{module.input_slug}}</span>
        {{/if}}

      </th>
    {{/if}}
  {{/each}}
</tr>
</thead>