<select class="form-select border-dark border-1" aria-label="Default select example">
  <option {{on 'click' (fn @updatePageLength 5)}}>5 results per page</option>
  <option {{on 'click' (fn @updatePageLength 10)}} selected>10 results per page</option>
  <option {{on 'click' (fn @updatePageLength 25)}}>25 results per page</option>
  <option {{on 'click' (fn @updatePageLength 50)}}>50 results per page</option>
  <option {{on 'click' (fn @updatePageLength 100)}}>100 results per page</option>
  <option {{on 'click' (fn @updatePageLength 250)}}>250 results per page</option>
  <option {{on 'click' (fn @updatePageLength 500)}}>500 results per page</option>
</select>