<div
  class="d-none position-absolute bottom-0 end-0 bg-none"
  id="row-options-{{@object.id}}"
>
  <div
    class="position-relative w-100 p-1 d-flex justify-content-lg-between align-items-center"
    style="z-index:1"
  >
    <div class="d-flex align-items-center">
      {{#if
        (not
          (or (eq @type.slug "user") (eq @object.modules.deleted_type "user"))
        )
      }}
        <span
          class="small mb-n1 me-1 bg-none border-0 font-weight-bold text-uppercase text-{{this.colormodes.inverseMode}}"
        >
          {{#if (eq @object.modules.content_privacy "public")}}
            <span class="text-success"><i
                class="fa-solid fa-bullhorn"
              ></i></span>
          {{else if (eq @object.modules.content_privacy "private")}}
            <span class="text-danger"><i class="fa-solid fa-lock"></i></span>
          {{else if (eq @object.modules.content_privacy "sent")}}
            <span class="text-primary"><i
                class="fa-solid fa-paper-plane"
              ></i></span>
          {{else if (eq @object.modules.content_privacy "pending")}}
            <span class="text-warning"><i
                class="fa-solid fa-hourglass-half"
              ></i></span>
          {{else}}
            <span class="text-{{this.colormodes.inverseMode}}"><i
                class="fa-solid fa-paragraph"
              ></i></span>
          {{/if}}
          <span class="d-none d-lg-inline">{{if
              @object.modules.content_privacy
              @object.modules.content_privacy
              "draft"
            }}</span>
        </span>
      {{/if}}

      <button
        class="badge badge-sm border bg-{{this.colormodes.inverseMode}}
          border-1 border-{{this.colormodes.mode}}
          text-{{this.colormodes.mode}}
          font-weight-bold text-uppercase"
        {{on "click" this.openBlueprintModal}}
        type="button"
      ><i class="fa-solid fa-code"></i><span
          class="d-none d-lg-inline"
        >&nbsp;API</span></button>

      {{#if (eq @type.slug "blueprint_record")}}
        {{#if @object.modules.url}}
          <button
            {{on
              "click"
              (fn this.blueprints.downloadCurrentBlueprint @object.modules.url)
            }}
            class="badge badge-sm border bg-{{this.colormodes.inverseMode}}
              border-1 border-{{this.colormodes.mode}}
              text-{{this.colormodes.mode}}
              font-weight-bold text-uppercase"
            type="button"
          ><i class="fa-solid fa-download"></i><span
              class="d-none d-lg-inline"
            >&nbsp;Download</span></button>
        {{else}}
          <button
            {{on
              "click"
              (fn
                this.blueprints.downloadCurrentBlueprint
                @object.modules.types_json
              )
            }}
            class="badge badge-sm border bg-{{this.colormodes.inverseMode}}
              border-1 border-{{this.colormodes.mode}}
              text-{{this.colormodes.mode}}
              font-weight-bold text-uppercase"
            type="button"
          ><i class="fa-solid fa-download"></i><span
              class="d-none d-lg-inline"
            >&nbsp;Download</span></button>
        {{/if}}
      {{/if}}

      {{#unless @type.sendable}}
        {{#if
          (not (or (eq @module.input_unique true) (eq @type.readonly true)))
        }}
          <button
            class="badge badge-sm border border-1 border-{{this.colormodes.mode}}
              bg-{{this.colormodes.inverseMode}}
              text-{{this.colormodes.mode}}
              font-weight-bold text-uppercase"
            {{on "click" this.openCopyModal}}
            type="button"
          ><i class="fa-solid fa-copy"></i><span
              class="d-none d-lg-inline"
            >&nbsp;Copy</span></button>
        {{/if}}
      {{/unless}}

      {{#if (eq @type.slug "file_record")}}
        <a
          class="badge badge-sm border border-1 border-{{this.colormodes.mode}}
            bg-{{this.colormodes.inverseMode}}
            text-{{this.colormodes.mode}}
            font-weight-bold text-uppercase text-decoration-none"
          href="{{@object.modules.url}}"
          target="new"
        ><i class="fa-solid fa-up-right-from-square"></i><span
            class="d-none d-lg-inline"
          >&nbsp;View</span></a>
      {{else if @type.url}}
        <a
          class="badge badge-sm border border-1 border-{{this.colormodes.mode}}
            bg-{{this.colormodes.inverseMode}}
            text-{{this.colormodes.mode}}
            font-weight-bold text-uppercase text-decoration-none"
          href="{{if
            (this.isLastSlashOrEquals @type.url)
            (concat @type.url @object.modules.slug)
            (concat @type.url '/' @object.modules.slug)
          }}"
          target="new"
        ><i class="fa-solid fa-up-right-from-square"></i><span
            class="d-none d-lg-inline"
          >&nbsp;View</span></a>
      {{/if}}

      {{#if (not (or @type.readonly (eq @type.editable false)))}}
        <button
          class="badge badge-sm border border-1 border-{{this.colormodes.mode}}
            bg-{{this.colormodes.inverseMode}}
            text-{{this.colormodes.mode}}
            font-weight-bold text-uppercase"
          {{on "click" this.openEditModal}}
          type="button"
        ><i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</button>
      {{/if}}

    </div>
  </div>
</div>