<div class="input-group mx-0">
  <Input
    @type="text"
    @value={{@searchQuery}}
    class="border border-{{this.colormodes.inverseMode}} form-control"
    placeholder="Quick search"
    @enter={{@search}}
    @escape-press={{@clearSearch}}
  />

  {{#if (or @searchQuery @showClearSearchButton)}}
    <button
      class="btn btn-outline-{{this.colormodes.inverseMode}}"
      type="button"
      {{on "click" @clearSearch}}
      {{on "click" @clearSearchQuery}}
    ><i class="fa-solid fa-xmark"></i></button>
  {{/if}}

  <button
    class="btn btn-outline-{{this.colormodes.inverseMode}}"
    type="button"
    {{on "click" this.search}}
  ><i class="fa-solid fa-magnifying-glass"></i></button>

  <button
    class="btn btn-outline-{{this.colormodes.inverseMode}}"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#advancedSearchModal"
  ><i class="fa-solid fa-filter"></i></button>
</div>

{{! Modal }}
<div class="modal fade" id="advancedSearchModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Advanced search</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <Input
            @type="text"
            @value={{mut (get @advancedSearchQuery "id")}}
            placeholder="Search by ID"
            class="form-control"
          />
        </div>

        {{#each @type.modules as |module|}}
          {{#if module.list_searchable}}
            <div class="mb-3">
              <Input
                @type="text"
                @value={{mut (get @advancedSearchQuery module.input_slug)}}
                placeholder="Keywords for {{module.input_slug}}"
                class="form-control"
              />
            </div>
          {{/if}}
        {{/each}}

        <div class="mb-3">
          <Input
            @type="text"
            @value={{mut (get @advancedSearchQuery "content_privacy")}}
            placeholder="Keywords for content_privacy"
            class="form-control"
          />
        </div>

      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          {{on "click" this.advancedSearch}}
        >Search</button>
      </div>
    </div>
  </div>
</div>