{{#if (not (or (eq @type.slug "deleted_record") (eq @type.slug "file_record")))}}
	<button type="button" data-bs-toggle="modal" data-bs-target="#deleteModel" class="btn btn-outline-warning btn-sm position-absolute top-0 end-0"><i class="fa-solid fa-triangle-exclamation"></i> Disable Track</button>
{{/if}}

	<div class="container-xxl">

	<h1 class="text-capitalize text-center mt-5 px-0 display-2 mb-4 {{if (eq @type.slug "deleted_record") "text-danger"}}">
		{{@type.plural}}
	</h1>
	<div class="row col-lg-9 mx-auto px-0 mb-4">
		<div class="order-3 order-lg-1 col-lg-3 px-0 col-12 my-1 d-flex justify-content-end">
			<Types::ListTable::PageLengthSelector @updatePageLength={{@updatePageLength}} @currentPageLength={{@currentPageLength}} @type={{@type}} />
		</div>

		<div class="order-2 order-lg-2 col-lg-4 px-0 col-12 my-1 d-flex justify-content-end">
			<Types::ListTable::SearchBox @type={{@type}} @search={{@search}} @clearSearch={{@clearSearch}} @advancedSearch={{@advancedSearch}} @showClearSearchButton={{@showClearSearchButton}} @searchQuery={{@searchQuery}} @advancedSearchQuery={{@advancedSearchQuery}} @clearSearchQuery={{@clearSearchQuery}} @changePageNumber={{@changePageNumber}} />
		</div>


		{{#unless @type.readonly}}
			<div class="order-1 order-lg-3 col-lg-5 px-0 col-12 my-1 d-flex justify-content-end">
				{{#if (and (get @selectedRowIDs @type.slug) (not-eq @type.editable false))}}
					<button data-bs-toggle="modal" data-bs-target="#editObjectModal-{{@type.slug}}-multi" type="button" class="btn btn-info fw-normal w-100"><i class="fa-solid fa-layer-group"></i>&nbsp;Multi-edit</button>
				{{/if}}

				<button data-bs-toggle="modal" data-bs-target="#editObjectModal-{{@type.slug}}-new" type="button" class="btn btn-{{this.colormodes.inverseMode}} fw-normal w-100"><i class="fa-solid fa-plus"></i>&nbsp;New</button>
			</div>
		{{/unless}}

		{{#if (eq @type.slug "deleted_record")}}
			<div class="order-1 order-lg-3 col-lg-5 px-0 col-12 my-1 d-flex justify-content-end">
				{{#if (get @selectedRowIDs @type.slug)}}
					<button data-bs-toggle="modal" data-bs-target="#editObjectModal-{{@type.slug}}-multi" type="button" class="btn btn-danger fw-normal w-100"><i class="fa-solid fa-trash-alt"></i>&nbsp;Delete permanently</button>
				{{else}}
					<button type="button" class="btn btn-outline-{{this.colormodes.inverseMode}} fw-normal w-100"><i class="fa-solid fa-trash-alt"></i>&nbsp;Select objects to delete permanently</button>
				{{/if}}
			</div>
		{{/if}}
	</div>
</div>