{{page-title "Junction"}}

<PageLoading />

<main class="page d-none">

<div class="above-footer">

	<Header @schema={{@model.schema.webapp}}></Header>

	{{outlet}}
</div>

<Footer @schema={{@model.schema.webapp}}></Footer>

<img class="d-none" src="/assets/img/pixel-onload.png" {{on 'load' this.appLoaded}}>

</main>
