{{page-title "Junction"}}

<div class="above-footer">

	<Header @schema={{@model.schema}}></Header>

	<main class="page animate__animated a4 d2">
		{{outlet}}
		<Footer @schema={{@model.schema}}></Footer>
	</main>

</div>

<img class="d-none" src="/assets/img/pixel-onload.png" {{on 'load' this.appLoaded}}>


