{{page-title "Types"}}

<div class="container">

	<div class="row mt-3 row-cols-1 g-3">
		<div class="col">
			<PageSummaryCard @title="Types defined in types.json">
				{{#each-in @model.modules as |key type|}}
					{{#if type.plural}}
				  		<button {{on 'click' (fn this.loadTypeObjects type)}} type="button" class="btn {{if (eq key this.currentType.slug) "btn-dark" "btn-outline-dark"}} me-2">{{type.plural}}</button>
				  	{{/if}}
				{{/each-in}}
			</PageSummaryCard>
		</div>
	</div>
</div>

{{#if this.currentType}}
	<div style="overflow-x:hidden" class="row mt-3 row-cols-1 g-3 {{if (lte this.modulesThatWillBeListed.length 5) "container mx-auto" "mx-0"}}">
		<div class="col">
			<Types::ListTable @type={{this.currentType}}>
				<Types::ListTable::Head @type={{this.currentType}} />

				<tbody>
					{{#each this.objectsInType as |object|}}
						<Types::ListTable::Row @type={{this.currentType}} @object={{object}} />
					{{else}}
						<Types::ListTable::EmptyTableRow />
					{{/each}}
				</tbody>
			</Types::ListTable>

			<Types::ListTable::Pagination @type={{this.currentType}} @objects={{this.objectsInType}} />
		</div>
	</div>
{{/if}}

{{outlet}}