{{page-title "Types"}}

<PageHeading @icon="list-tree" @pagetitle="Types" />

<div class="container">

	<div class="row mt-3 row-cols-1 g-3">
		<div class="col">
			<PageSummaryCard @icon="list-tree" @pagetitle="Types defined in types.json">
				{{#each-in @model.modules as |key type|}}
					{{#if type.plural}}
				  		<button {{on 'click' (fn this.loadTypeObjects key)}} type="button" class="btn {{if (eq key this.type) "btn-dark" "btn-outline-dark"}} me-2">{{type.plural}}</button>
				  	{{/if}}
				{{/each-in}}
			</PageSummaryCard>
		</div>
	</div>
</div>

{{#if this.type}}
	<div class="row mt-3 row-cols-1 g-3">
		<div class="col">
			<Types::ListTable @type={{get @model.modules this.type}}>
				<Types::ListTable::Head @type={{get @model.modules this.type}} />

				<tbody>
					{{#each this.objects as |object|}}
						<Types::ListTable::Row />
					{{else}}
						<Types::ListTable::EmptyTableRow />
					{{/each}}
				</tbody>
			</Types::ListTable>
		</div>
	</div>
{{/if}}

{{outlet}}